<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Modifier votre profil</h5>
                </div>
                <div class="card-body">
                    <form #formulaireChange="ngForm" >
                        <div class="row">

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Nom </label>
                                    <input [(ngModel)]="user.name" [ngClass]="{'is-invalid': !user.name}" type="text"
                                        placeholder="{{user.name}}" class="form-control" name="name" #name ngModel >
                                </div>
                            </div>
                            <div class="col-md-6 pr-1" *ngIf="user.privilege == 3">
                                <div class="form-group">
                                    <label>Président </label>
                                    <input [(ngModel)]="user.president" [ngClass]="{'is-invalid': !user.president}" type="text"
                                        placeholder="{{user.president}}" class="form-control" name="president" #president ngModel>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input  [(ngModel)]="user.email" [ngClass]="{'is-invalid': !user.email}" type="text"
                                    placeholder="{{user.email}}" class="form-control" name="email" #email ngModel>
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input  [(ngModel)]="user.password" type="password"
                                    placeholder="************" class="form-control" name="password">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" *ngIf="user.privilege == 3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" cols="80" [(ngModel)]="user.description" 
                                    placeholder="{{user.description}}" class="form-control" name="description" #description ngModel></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">Changer votre photo </label>
                            <div class="col-md-9">
                              <input type="file" id="profile_picture" name="profile_picture" (change)="uploadUserPhoto($event)">
                            </div>
                          </div>
                    </form>
                </div>
                <div class="card-footer"> 
                    <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit(formulaireChange)"><i class="fa fa-dot-circle-o"></i> Modifier</button>
        
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
    
                <div class="card-body">
                    <div class="author" style="display: flex; justify-content: center">
                        <a href="javascript:void(0);">
                            <img style="width: 100px!important;" src="{{baseFileUrl}}{{user.profile_picture}}" alt="...">
                            <h5 class="title"> {{user.name}}</h5>
                        </a>
                       
                    </div>

                </div>
                <hr>
               
            </div>
        </div>
    </div>
</div>