<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Ajouter un Membre Administratif ou de Direction</strong>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #formulaire="ngForm" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Titre du poste</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="membre.title" type="text" id="title" name="title" class="form-control"
                            placeholder="Titre du poste" rquired ngModel>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="responsable">Responsable</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="membre.responsable" type="text" id="responsable" name="responsable"
                            placeholder="Responsable" required class="form-control" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="poste">Poste du responsable</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="membre.poste" type="text" id="poste" name="poste" placeholder="Poste"
                            required class="form-control" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email">Email du responsable</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="membre.email" type="email" id="email" name="email" placeholder="Email"
                            required class="form-control" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="poste_code">Code du poste</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="membre.poste_code" type="number" id="poste_code" name="poste_code"
                            placeholder="Code du Poste" required class="form-control" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="service">Service </label>
                    <div class="col-md-9">
                        <select class="form-control" [(ngModel)]="membre.service" id="service" name="service" placeholder="Selectionner un service" required>
                            <option value="Service De Direction">Direction</option>
                            <option value="Service Administratif">Administration</option>
                            
                        </select></div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button (click)="onSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]="formulaire.invalid"><i class="fa fa-dot-circle-o"></i>
                Submit</button>
        </div>
    </div>

</div>