<div class="animated fadeIn">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Bordered Table </div>
            <div class="card-body">
                <table class="table table-bordered" style="table-layout: fixed; width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Url de la photo</th>
                            <th>Détails</th>
                            <th>Supprimer</th>
                            <th>Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let note of notes; let i=index">
                            <td>{{note.id}}</td>
                            <td>{{note.name}}</td>
                            <td>{{note.type}}</td>
                            <td>{{note.date}}</td>
                            <td>{{note.pdfUrl}}</td>
                            <td>{{note.details}}</td>
                            <td><button class="btn btn-block btn-danger active" type="button" (click)="supprimer(note.id, i)" >Supprimer</button></td>
                            <td><button class="btn btn-block btn-warning active" type="button" routerLink="/notes/add-notes" [queryParams]="{code: note.id }" >Modifier</button></td>
                        </tr>
                        
                    </tbody>
                </table>
                <ul class="pagination">
                    <li *ngIf="previous" class="page-item"><a class="page-link" href="JavaScript:Void(0);" (click)="getAllNotes(current-1)">Precédent</a></li>
                    <li *ngFor="let page of totalPages; let i = index" class="page-item" [ngClass]="{'active' : (i+1 == current)}">
                        <a class="page-link" href="JavaScript:Void(0);" (click)="getAllNotes(i+1)">{{i+1}}</a>
                    </li>
                    <li *ngIf="next" class="page-item"><a class="page-link" href="JavaScript:Void(0);" (click)="getAllNotes(current+1)">Suivant</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>