<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Ajouter une patenariat</strong>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #formulaire="ngForm" enctype="multipart/form-data" class="form-horizontal" >
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="etablissement">Etablissement Tunisien</label>
            <div class="col-md-9">
              <input [(ngModel)]="convention.etablissement" required type="text" id="etablissement" name="etablissement" class="form-control" placeholder="Etablissement Tunisien.." ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="etranger">Etablissement Etranger</label>
            <div class="col-md-9">
              <input [(ngModel)]="convention.etranger" required type="text" id="etranger" name="etranger" class="form-control" placeholder="Etablissement Etranger.." ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sujet">Sujet de la convention</label>
            <div class="col-md-9">
              <input [(ngModel)]="convention.sujet" required type="text" id="sujet" name="sujet" class="form-control" placeholder="Sujet de la convention.." ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="responsable">Responsable</label>
            <div class="col-md-9">
              <input [(ngModel)]="convention.responsable" required type="text" id="responsable" name="responsable" class="form-control" placeholder="Responsable.." ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date">Date de la signature</label>
            <div class="col-md-9">
              <input [(ngModel)]="convention.date" required type="date" id="date" name="date" class="form-control" ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="periode">Periode</label>
            <div class="col-md-9">
              <input [(ngModel)]="convention.periode" required type="text" id="periode" name="periode" class="form-control" placeholder="Periode.." ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="observation">Observation</label>
            <div class="col-md-9">
              <textarea [(ngModel)]="convention.observation" required id="observation" name="observation" rows="9" class="form-control" placeholder="Observation.." ngModel></textarea>
            </div>
          </div>
          
        </form>
      </div>
      <div class="card-footer">
        <button (click)="onSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]="formulaire.invalid"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button (click)="onReset(formulaire)" type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
   
  </div>